@import '/src/style/colors.scss';
.example-container{
    display: flex;    
    width: auto;
    flex-direction: column;
}

.form-container{
    width: 350px;
}
.form-field{
    display: block;
}
.login_border{
    // border: 1px solid #ccc;
    // border-radius: 1.5rem;
    padding: 2rem;
    background-color: $card-color;
}
.text_login_form{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login_buttons{
    display: flex;
    flex-direction: column;
}
.mat-raised-button, .mat-button{
    width: 100%;
}
.button_margin{
    margin-bottom: 8px;
}
mat-form-field{
    padding-bottom: 0.3rem;
}
.text_column{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.form_container{
    display: flex;
    flex-direction: column;
}
.btn_submit{
    width: 100%;
}
.mat-raised-button, .mat-button{
    width: 100%;
}
.error p{
    text-align: center;
    color: $red;
}
.error{
    padding-top: 1rem;
}
.text_row{
    display: flex;
    flex-direction: row;
}
.magin_right_value_form{
    margin-right: 1rem;
}
.error_code{
    text-align: center;
    padding-top: 1rem;
}
.spinner{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.remind_subtitle_margin{
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

/////////////////////////////MOBILE////////////////////////////////

@media only screen and (max-width: 600px){
.form-container{
    width: auto;
}
mat-card-subtitle{
    display: flex;
}
mat-card{
    box-sizing: content-box;
}
}