.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25%;
}
.container mat-card{
    padding: 6rem;
    cursor: pointer;
}
@media only screen and (max-width: 1600px){
    .container{
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // margin-left: 10%;
        // margin-right: 10%;
        margin-top: 2rem;
        row-gap: 2rem;
        text-align: center;
    }
}
@media only screen and (max-width: 800px){
    .container{
        margin-top: 2rem;
    }
    .container h1{
        text-align: center;
    }
    .container mat-card{
        padding: 3rem;
        cursor: pointer;
    }
}