<!-- <div *ngIf="!this.loading" class="container">
    <div class="grid_area">
        <div class="container_header">
            <div class="header">
                <img src={{categoryById?.iconUrl}} alt="">
                <div class="title">
                    <h2>{{categoryById?.description}}</h2>
                </div>
            </div>
        </div>
    
        <h2 class="txt_lvl">Wybierz poziom trudności:</h2>
        <div class="container_level">
            <div class="items" routerLink='/home/level/{{idParam}}/1'>
                <div class="item green_bg">
                    <h1>ŁATWY</h1>
                </div>
                <div class="under_title_level">
                    <h2 class="percent">{{this.easyPercent}}</h2>
                </div>
            </div>
            <div *ngIf="this.mediumEnable" class="items" routerLink='/home/level/{{idParam}}/2'>
                <div class="item yellow_bg">
                    <h1>ŚREDNI</h1>
                </div>
                <div class="under_title_level">
                    <h2 class="info_block">{{this.mediumPercent}}</h2>
                </div>
            </div>
            <div *ngIf="!this.mediumEnable" class="items">
                <div class="item yellow_bg">
                    <h1>ŚREDNI</h1>
                </div>
                <div class="under_title_level">
                    <h2 class="info_block">{{this.mediumPercent}}</h2>
                </div>
            </div>
            <div *ngIf="this.hardEnable" class="items" routerLink='/home/level/{{idParam}}/3'>
                <div class="item red_bg">
                    <h1>TRUDNY</h1>
                </div>
                <div class="under_title_level">
                    <h2 class="info_block">{{this.hardPercent}}</h2>
                </div>
            </div>
            <div *ngIf="!this.hardEnable" class="items">
                <div class="item red_bg">
                    <h1>TRUDNY</h1>
                </div>
                <div class="under_title_level">
                    <h2 class="info_block">{{this.hardPercent}}</h2>
                </div>
            </div>
            
        </div>
    
        <div class="info">
            <h2 class="info_text">
                <div class="icon">
                    <mat-icon>info</mat-icon>
                </div>
            Sprawdź swoją wiedzę na temat danego quizu i oceń swoje umiejętności dzięki dobranym przez nas pytaniom do odpowiedniego poziomu trudności.</h2>
        </div>
    </div>

    
</div> -->


<div *ngIf="!this.loading" class="container_main">
    <div class="container_side center column">
        <div class="image_category">
            <img src={{categoryById?.iconUrl}} alt="">
        </div>
        <!-- <div class="title">
            <h2>{{categoryById?.description}}</h2>
        </div> -->
    </div>
    <div class="container_side center">
        <div class="items_col">
            <div class="item" routerLink='/home/level/{{idParam}}/1'>
                <div class="header_item header_green">
                    <h2>ŁATWY</h2>
                </div>
                <div *ngIf="this.easyPercent! == 'Kontynuuj' || this.easyPercent! == 'Rozpocznij!'" class="row_in_item">
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.easyPercent! == '25%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.easyPercent! == '50%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.easyPercent! == '75%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.easyPercent! == 'Ukończone'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                </div>
            </div>
            <div class="item" *ngIf="this.mediumEnable" routerLink='/home/level/{{idParam}}/2'>
                <div class="header_item header_yellow">
                    <h2>ŚREDNI</h2>
                </div>
                <div *ngIf="this.mediumPercent! == 'Kontynuuj' || this.mediumPercent! == 'Rozpocznij!'" class="row_in_item">
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.mediumPercent! == '25%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.mediumPercent! == '50%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.mediumPercent! == '75%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.mediumPercent! == 'Ukończone'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                </div>
            </div>
            <div class="item" *ngIf="!this.mediumEnable">
                <div class="header_item header_yellow">
                    <h2>ŚREDNI</h2>
                </div>
                <div class="row_in_item_block">
                    <mat-icon class="color_block">block</mat-icon>
                    <h2>Zablokowane</h2>
                    <mat-icon class="color_block">block</mat-icon>
                </div>
            </div>
            <div class="item" *ngIf="this.hardEnable" routerLink='/home/level/{{idParam}}/3'>
                <div class="header_item header_red">
                    <h2>TRUDNY</h2>
                </div>
                <div *ngIf="this.hardPercent! == 'Kontynuuj' || this.mediumPercent! == 'Rozpocznij!'" class="row_in_item">
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.hardPercent! == '25%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.hardPercent! == '50%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.hardPercent! == '75%'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                    <mat-icon class="color_no">cancel</mat-icon>
                </div>
                <div *ngIf="this.hardPercent! == 'Ukończone'" class="row_in_item">
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                    <mat-icon class="color_yes">check_circle</mat-icon>
                </div>
            </div>
            <div class="item" *ngIf="!this.hardEnable">
                <div class="header_item header_red">
                    <h2>TRUDNY</h2>
                </div>
                <div class="row_in_item_block">
                    <mat-icon class="color_block">block</mat-icon>
                    <h2>Zablokowane</h2>
                    <mat-icon class="color_block">block</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="container_side center column">
        <div class="chart" id="chart">
            <apx-chart
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive!">
            </apx-chart>
        </div>
        <!-- <div class="title">
            <h2 class="margin_txt_title_chart">Statystyka ukończonych poziomów</h2>
        </div> -->
    </div>
</div>
