<div *ngIf="!this.loading" class="container">
    <div class="grid_area">
        <div class="container_header">
            <div class="header">
                <img src={{categoryById?.iconUrl}} alt="">
                <div class="title">
                    <h2>{{categoryById?.description}}</h2>
                </div>
            </div>
        </div>
    
        <h2 class="txt_lvl">Wybierz poziom trudności:</h2>
        <div class="container_level">
            <div class="items" routerLink='/home/level/{{idParam}}/1'>
                <div class="item green_bg">
                    <h1>ŁATWY</h1>
                    <!-- <p>{{categoryById?.lessonsPerLevel}}</p> -->
                </div>
                <div class="under_title_level">
                    <!-- <h2 class="mod">Moduły</h2> -->
                    <!-- <h2 class="score_mod">3/{{categoryById?.lessonsPerLevel}}</h2> -->
                    <h2 class="percent">{{this.easyPercent}}</h2>
                </div>
            </div>
            <div *ngIf="this.mediumEnable" class="items" routerLink='/home/level/{{idParam}}/2'>
                <div class="item yellow_bg">
                    <h1>ŚREDNI</h1>
                    <!-- <p>{{categoryById?.lessonsPerLevel}}</p> -->
                </div>
                <div class="under_title_level">
                    <!-- <h2 class="mod">Moduły</h2> -->
                    <!-- <h2 class="score_mod">1/{{categoryById?.lessonsPerLevel}}</h2> -->
                    <h2 class="info_block">{{this.mediumPercent}}</h2>
                    <!-- <h2 class="percent">25%</h2> -->
                </div>
            </div>
            <div *ngIf="!this.mediumEnable" class="items">
                <div class="item yellow_bg">
                    <h1>ŚREDNI</h1>
                    <!-- <p>{{categoryById?.lessonsPerLevel}}</p> -->
                </div>
                <div class="under_title_level">
                    <!-- <h2 class="mod">Moduły</h2> -->
                    <!-- <h2 class="score_mod">1/{{categoryById?.lessonsPerLevel}}</h2> -->
                    <h2 class="info_block">{{this.mediumPercent}}</h2>
                    <!-- <h2 class="percent">25%</h2> -->
                </div>
            </div>
            <div *ngIf="this.hardEnable" class="items" routerLink='/home/level/{{idParam}}/3'>
                <div class="item red_bg">
                    <h1>TRUDNY</h1>
                    <!-- <p>{{categoryById?.lessonsPerLevel}}</p> -->
                </div>
                <div class="under_title_level">
                    <!-- <h2 class="mod">Moduły</h2> -->
                    <!-- <h2 class="score_mod">0/{{categoryById?.lessonsPerLevel}}</h2> -->
                    <h2 class="info_block">{{this.hardPercent}}</h2>
                    <!-- <h2 class="percent">0%</h2> -->
                </div>
            </div>
            <div *ngIf="!this.hardEnable" class="items">
                <div class="item red_bg">
                    <h1>TRUDNY</h1>
                    <!-- <p>{{categoryById?.lessonsPerLevel}}</p> -->
                </div>
                <div class="under_title_level">
                    <!-- <h2 class="mod">Moduły</h2> -->
                    <!-- <h2 class="score_mod">0/{{categoryById?.lessonsPerLevel}}</h2> -->
                    <h2 class="info_block">{{this.hardPercent}}</h2>
                    <!-- <h2 class="percent">0%</h2> -->
                </div>
            </div>
            
        </div>
    
        <div class="info">
            <h2 class="info_text">
                <div class="icon">
                    <mat-icon>info</mat-icon>
                </div>
            Sprawdź swoją wiedzę na temat danego quizu i oceń swoje umiejętności dzięki dobranym przez nas pytaniom do odpowiedniego poziomu trudności.</h2>
        </div>
    </div>

    
</div>

<!-- <mat-card routerLink='/home/level/{{idParam}}/1'>
    <h1>ŁATWY</h1> -->
    <!-- <p>{{categoryById?.lessonsPerLevel}}</p> -->
<!-- </mat-card>
<mat-card routerLink='/home/level/{{idParam}}/2'>
    <h1>ŚREDNI</h1>
</mat-card>
<mat-card routerLink='/home/level/{{idParam}}/3'>
    <h1>TRUDNY</h1>
</mat-card> -->