<div class="container" *ngIf="this.quizMapService.selectedItem">
   <div class="items_container">
      <div class="position_container">
         <div class="item" *ngFor="let quizMapInfo of this.quizMapService.selectedItem.quizList">
            <img src={{quizMapInfo.icon}} alt="">
         </div>
      </div>
   </div>
   <div class="description" *ngFor="let quizMapInfo of this.quizMapService.selectedItem.quizList">
      <div class="card_lesson">
         <div class="card_bg">
            <div class="lesson_title">
               {{quizMapInfo.name}}
            </div>
            <h2 *ngFor="let desc of quizMapInfo.lesson">- {{desc.name}}</h2>
         </div>
      </div>
      <div class="space"></div>
   </div>
</div>
