<div class="container">
    <div class="header_container">
        <div class="margins">
            <div class="row space_btw">
                <!-- <div class="image_profile">
                    <img src="../../../assets/quiz_logo.jpg" alt="">
                </div> -->
                <div class="profil_name">
                    <h2 class="user_txt">{{this.userProgressUpdate?.username}}</h2>
                    <h3 class="lvl_user">Początkujący</h3>
                </div>
                <div class="btn_container">
                    <div class="row_achievement">
                        <div class="achievement">
                            <mat-icon aria-hidden="false" fontIcon="hotel_class">hotel_class</mat-icon>
                        </div>
                        <div class="achievement">
                            <mat-icon aria-hidden="false" fontIcon="school">school</mat-icon>
                        </div>
                        <div class="achievement">
                            <mat-icon aria-hidden="false" fontIcon="star_half">star_half</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search_ranking_page">
                <!-- <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Wyszukiwarka" value="">
                </mat-form-field>
                <button mat-button class="btn_search" color="primary">Szukaj</button> -->
                <h2>Rywalizuj ze znajomymi i awansuj w rankingu!</h2>
            </div>
        </div>
    </div>
    <div class="list_container">
        <div class="list_info">
            <div class="item item_list_info">
                <div class="left_in_item">
                    <h3 class="number">Nr.</h3>
                    <div class="image_profile_in_list">
                        <h3>Użytkownik</h3>
                    </div>
                    <!-- <h2>{{player.name}}</h2> -->
                </div>
                <h3>Punkty</h3>
            </div>
        </div>
        <div class="scroll_container" id="style-scroll">
            <div class="item border_bottom" *ngFor="let user of userListRanking; let i = index">
                <div class="left_in_item">
                    <h2 class="number">{{i+1}}.</h2>
                    <div class="image_profile_in_list">
                        <img src="../../../assets/quiz_logo.jpg" alt="">
                    </div>
                    <h2>{{user.userName}}</h2>
                </div>
                <h2>{{user.experiencePoints}} pkt.</h2>
            </div>
        </div>
    </div>
</div>
