<div class="container">
    <div class="header_container">
        <div class="margins">
            <div class="row">
                <div class="image_profile">
                    <img src="../../../assets/quiz_logo.jpg" alt="">
                </div>
                <div class="profil_name">
                    <h2>User_user</h2>
                    <h3>Początkujący</h3>
                </div>
                <div class="btn_container">
                    <!-- <button></button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="list_container">
        <div class="item">
            <div class="right_in_item">
                <h2>1.</h2>
                <div class="image_profile_in_list">
                    <img src="../../../assets/quiz_logo.jpg" alt="">
                </div>
                <h2>User_user</h2>
            </div>
            <h2>999 punktów</h2>
        </div>
    </div>
</div>
