
    <div class="example-container">
        <!-- <mat-card-title>Zaloguj</mat-card-title> -->
        <mat-card-content class="form-container">
            <form [formGroup]="registerForm" (submit)="submit()">
                <div *ngIf="!loading"> 
                <mat-form-field class="form-field" appearance="outline">
                    
                    <mat-label> Nazwa użytkownika</mat-label>
                        
                    <input matInput formControlName="username">
                        
                    <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger"></div>
    
                    <mat-error *ngIf="f['username'].hasError('required')">
                        Nazwa użytkownika jest <strong>wymagana</strong>
                    </mat-error>
                </mat-form-field> 
                <mat-form-field class="form-field" appearance="outline">
                    
                    <mat-label> E-mail</mat-label>
                    
                    <input matInput formControlName="email" required>
                    
                    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger"></div>

                    <mat-error *ngIf="f['email'].hasError('email') && !registerForm.hasError('required')">
                        Wprowadz poprawny adres email
                    </mat-error>

                    <mat-error *ngIf="f['email'].hasError('required')">
                        Email jest <strong>wymagany</strong>
                    </mat-error>
                
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    
                    <mat-label> Hasło</mat-label>
                    
                    <input matInput formControlName="password" type="password">
                    
                    <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger"></div>

                    <mat-error *ngIf="f['password'].hasError('required')">
                        Hasło jest <strong>wymagane</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    
                    <mat-label> Powtórz Hasło</mat-label>
                    
                    <input matInput formControlName="repeatPassword" type="password">
                    
                    <div *ngIf="f['repeatPassword'].touched && f['repeatPassword'].invalid" class="alert alert-danger"></div>

                    <mat-error *ngIf="f['repeatPassword'].hasError('required')">
                        Hasło jest <strong>wymagane</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="loading" class="spinner">
                <mat-progress-spinner
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="value">
                </mat-progress-spinner>  
            </div>
            <div class="error" *ngIf="customError">
                <strong>{{customError}}</strong>
            </div>
            <div class="error" *ngIf="registerForm.hasError('errorThisSamePassword')">
                <p>Wpisz poprawnie dane</p>
            </div>

            
            
                <div class="input_margin">
                    <button class="button_margin" mat-raised-button color="primary" type="submit">Utwórz konto</button>
                    
                </div>
            </form>
            <button routerLink="/login" class="button_margin" mat-button type="submit">Powrót do logowania</button>
            <div class="link">
            </div>
            
        </mat-card-content>
        
    </div>


