<div class="container">
    <form [formGroup]="questionAddToCategoryForm" (submit)="addQuestionSubmit()">
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>ID Quizu</mat-label>
            
            <input matInput formControlName="categoryId">
            
            <div *ngIf="f['categoryId'].touched && f['categoryId'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>Pytanie:</mat-label>
            
            <input matInput formControlName="questionContent">
            
            <div *ngIf="f['questionContent'].touched && f['questionContent'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>Link ze zdjęciem do pytania:</mat-label>
            
            <input matInput formControlName="imageUrl" >
            
            <div *ngIf="f['imageUrl'].touched && f['imageUrl'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>Odpowiedź A:</mat-label>
            
            <input matInput formControlName="a">
            
            <div *ngIf="f['a'].touched && f['a'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>Odpowiedź B:</mat-label>
            
            <input matInput formControlName="b">
            
            <div *ngIf="f['b'].touched && f['b'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>Odpowiedź C:</mat-label>
            
            <input matInput formControlName="c">
            
            <div *ngIf="f['c'].touched && f['c'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>Odpowiedź D:</mat-label>
            
            <input matInput formControlName="d">
            
            <div *ngIf="f['d'].touched && f['d'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>Poprawna odpowiedź (A, B, C, D):</mat-label>
            
            <input matInput formControlName="correctAnswer">
            
            <div *ngIf="f['correctAnswer'].touched && f['correctAnswer'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
                    
            <mat-label>Poziom trudności (1-3):</mat-label>
            
            <input type="number" matInput formControlName="level">
            
            <div *ngIf="f['level'].touched && f['level'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>

        <div class="input_margin">
            <button class="button_margin" mat-raised-button color="primary" type="submit">Dodaj pytanie</button>
        </div>
    </form>
</div>
