<div class="components">
    <h2>Panel zarządzania quizami</h2>
    <mat-accordion multi>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_green margin_right material-symbols-outlined">create_new_folder</mat-icon>
              Dodaj quiz
            </mat-panel-title>
              
          </mat-expansion-panel-header>
          <app-add-category></app-add-category>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon class="font_green margin_right material-symbols-outlined">add_comment</mat-icon>
              Dodaj pytanie do quizu
          </mat-panel-title>
            
        </mat-expansion-panel-header>
        <app-add-question></app-add-question>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_red margin_right material-symbols-outlined">folder_delete</mat-icon>
              Usuń quiz
            </mat-panel-title>
              
          </mat-expansion-panel-header>
          <app-delete-category></app-delete-category>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_yellow margin_right material-symbols-outlined">edit_document</mat-icon>
              Edytuj quiz
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <app-edit-category></app-edit-category>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="font_yellow margin_right material-symbols-outlined">edit_square</mat-icon>
            Edytuj pytanie
            <mat-icon class="font_red second_icon_margin margin_right material-symbols-outlined">delete</mat-icon>
            Usuń pytanie
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <app-edit-question></app-edit-question>
    </mat-expansion-panel>
    </mat-accordion>

    <div class="selection">
      <h2>Panel zarządzania grupami kategorii</h2>
      <mat-accordion multi *ngIf="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_green margin_right material-symbols-outlined">create_new_folder</mat-icon>
              Dodaj grupę
            </mat-panel-title>
              
          </mat-expansion-panel-header>
          <app-add-category-group></app-add-category-group>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_red margin_right material-symbols-outlined">folder_delete</mat-icon>
              Usuń grupę
            </mat-panel-title>
              
          </mat-expansion-panel-header>
          <app-delete-category-group></app-delete-category-group>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_yellow margin_right material-symbols-outlined">edit_document</mat-icon>
              Edytuj grupę
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <app-edit-category-group></app-edit-category-group>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_yellow margin_right material-symbols-outlined">edit_square</mat-icon>
              Edytuj w grupie
              <mat-icon class="font_red second_icon_margin margin_right material-symbols-outlined">delete</mat-icon>
              Usuń z grupy
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-edit-category-in-category-group></app-edit-category-in-category-group>
        </mat-expansion-panel>

      </mat-accordion>


    <div class="selection">
      <h2>Panel zarządzania użytkownikami</h2>
      <mat-accordion multi *ngIf="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="font_blue margin_right material-symbols-outlined">group</mat-icon>
                Lista użytkowników
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            <app-get-users-list></app-get-users-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_red margin_right material-symbols-outlined">person</mat-icon>
              Usuń użytkownika
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <app-delete-user></app-delete-user>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_yellow margin_right material-symbols-outlined">manage_accounts</mat-icon>
              Edycja użytkownika
          </mat-panel-title>
          
          </mat-expansion-panel-header>
          <app-edit-user></app-edit-user>
        </mat-expansion-panel>

      </mat-accordion>

    <div class="selection">
      <h2>Panel zarządzania obrazkami</h2>
      <mat-accordion multi *ngIf="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="font_green margin_right material-symbols-outlined">photo_library</mat-icon>
                Dodaj obrazek
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <app-add-image></app-add-image>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="font_blue margin_right material-symbols-outlined">image</mat-icon>
                Lista obrazów
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            <app-get-images-list></app-get-images-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="font_red margin_right material-symbols-outlined">delete</mat-icon>
              Usuń obrazek
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <app-delete-image></app-delete-image>
        </mat-expansion-panel>

    </mat-accordion>
  </div>



  </div>
      

    <!-- <app-add-category></app-add-category> -->
    <!-- <app-add-question></app-add-question> -->
    <!-- <app-delete-category></app-delete-category> -->
    <!-- <app-get-users-list></app-get-users-list> -->
    <!-- <app-delete-user></app-delete-user> -->
    <!-- <app-edit-category></app-edit-category> -->
    <!-- <app-get-images-list></app-get-images-list> -->
    <!-- <app-delete-image></app-delete-image> -->
    <!-- <app-add-image></app-add-image> -->
    <!-- <app-edit-user></app-edit-user> -->
</div>

