.components{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: auto;
}
.div{
    background-color: aquamarine;
}
// app-add-category{
//     width: 100%;
// }
// app-add-question{
//     width: 100%;
// }