.components{
    display: flex;
    flex-direction: column;
    // row-gap: 2rem;
    width: auto;
    height: 100%;
    padding-bottom: 2.6rem;
}
.div{
    background-color: aquamarine;
}
// app-add-category{
//     width: 100%;
// }
// app-add-question{
//     width: 100%;
// }
mat-panel-title{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
mat-expansion-panel-header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.margin_right{
    margin-right: 1.5rem;
    font-size: 1.8rem;
    padding-bottom: 4px;
}
.font_green{
    color: rgb(2, 255, 87);
}
.font_red{
    color: rgb(196, 18, 18);
}
.font_blue{
    color: rgb(2, 133, 255);
}
.font_yellow{
    color: rgb(228, 224, 27);
}
.selection{
    margin-top: 2rem;
}
