
    <mat-drawer-container class="example-container" autosize>
    
    <mat-drawer-content class="page"> 
        <mat-toolbar *ngIf="mobileView" class="mobile_toolbar" color="primary">
            <button (click)="mobileMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <h2>{{this.userDataService.getName()}}</h2>
        </mat-toolbar>

        <div class="menu">
            <div class="top_menu">
                <div class="avatar">
                    <img src="../../../assets/logo.jpg" alt="">
                </div>
                <div class="text_name">
                    <p>LearningApp</p>
                </div>
            </div>
            <div class="mid_menu">
                <div class="nav_menu">
                    <a routerLink="/home/dashboard">
                        <mat-icon class="menu_btn active" fontIcon="home">home</mat-icon>
                    </a>
                    <a routerLink="/home/profile/main">
                        <mat-icon class="menu_btn" fontIcon="home">person_4</mat-icon>
                    </a>
                    <!-- <a routerLink="/home/quiz-maps">
                        <mat-icon class="menu_btn" fontIcon="home">web</mat-icon>
                    </a> -->
                    <a routerLink="/home/ranking">
                        <mat-icon class="menu_btn" fontIcon="home">military_tech</mat-icon>
                    </a>
                    <a *ngIf="this.userDataService.isAdmin()" routerLink="/home/admin-panel">
                        <mat-icon class="menu_btn" fontIcon="home">admin_panel_settings</mat-icon>
                    </a>
                    <a routerLink="/home/settings">
                        <mat-icon class="menu_btn" fontIcon="home">settings</mat-icon>
                    </a>
                    
                </div>
            </div>
            <div class="bottom_menu">
                <a class="logout" (click)="logout()">
                    <mat-icon class="menu_btn" fontIcon="home">logout</mat-icon>
                </a>
            </div>
            
        </div>
        <div class="bg">
            <div class="main_content">
                <div class="content">
                    <div id="main" class="main">
                        <div class="paddings">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                    <!-- <div class="profile_card">
                        <app-profile-right-panel></app-profile-right-panel>
                    </div> -->
                    <div *ngIf="smallRightPanel" class="openRightPanel">
                        <mat-icon class="btn_arrow_back" (click)="showRightPanel()">arrow_back</mat-icon>
                    </div>
                </div>
            </div>
            
        </div>

    </mat-drawer-content>
    <mat-drawer *ngIf="!mobileView" position="end" [opened]="menushow" #drawer [mode]="menuMode">
        <div class="profile_card">
            <app-profile-right-panel (hideReightPanel)="hideReightPanel($event)"></app-profile-right-panel>
        </div>
    </mat-drawer>
    <mat-drawer *ngIf="mobileView" [opened]="mobileMenuShow" #mobileDrawer [mode]="mobileMenuMode">
        <div class="mobile_menu">
            <div class="top_menu">
                <div class="avatar">
                    <img src="../../../assets/logo.jpg" alt="">
                </div>
                <div class="text_name">
                    <p>E-learning</p>
                </div>
            </div>
            <div class="mid_menu">
                <div class="nav_menu">
                    <a routerLink="/home/dashboard">
                        <mat-icon class="menu_btn active" fontIcon="home">home</mat-icon>
                    </a>
                    <a routerLink="/home/profile/main">
                        <mat-icon class="menu_btn" fontIcon="home">person_4</mat-icon>
                    </a>
                    <!-- <a routerLink="/home/quiz-maps">
                        <mat-icon class="menu_btn" fontIcon="home">web</mat-icon>
                    </a> -->
                    <a routerLink="/home/ranking">
                        <mat-icon class="menu_btn" fontIcon="home">military_tech</mat-icon>
                    </a>
                    <a *ngIf="this.userDataService.isAdmin()" routerLink="/home/admin-panel">
                        <mat-icon class="menu_btn" fontIcon="home">admin_panel_settings</mat-icon>
                    </a>
                    <a routerLink="/home/settings">
                        <mat-icon class="menu_btn" fontIcon="home">settings</mat-icon>
                    </a>
                    
                </div>
            </div>
            <div class="bottom_menu">
                <a class="logout" (click)="logout()">
                    <mat-icon class="menu_btn" aria-hidden="false" aria-label="Example home icon" fontIcon="home">logout</mat-icon>
                </a>
            </div>
        </div>
    </mat-drawer>
</mat-drawer-container>

   

