@import '/src/style/colors.scss';
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 20
  }
.page{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}
.pageDrawer{

}
.bg{
    width: 100%;
    background-color: $bg_layout;
}
.content{
    
    display: flex;
    flex-direction: row;
}
.main_content{
    width: 100%;
    height: 100v;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: white;
    -webkit-box-shadow: -4px 0px 11px -1px rgba(66, 68, 90, 1);
-moz-box-shadow: -4px 0px 11px -1px rgba(66, 68, 90, 1);
box-shadow: -4px 0px 11px -1px rgba(66, 68, 90, 1);
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bg_layout;
    width: auto;
    height: 100%;
}
.menu_btn{
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    color: #d1d1d1;
    font-size: 1.6rem;
}
.menu_btn:hover{
    color: white;
}
.menu_btn.active{
    color: white;
}
.avatar{
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img{
    width: 5rem;
    border-radius: 20px;
}
.text_name{
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}
.text_rank{
    color: greenyellow;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
}
.nav_menu{
    display: flex;
    flex-direction: column;
     margin-bottom: 3rem;
}
.bottom_menu{
    margin-bottom: 2rem;
}
.main{
    // width: calc(100vw - 350px - 152px - 18px);
    width: 100%;
    height: 100vh;
    // margin-right: 3rem;
    margin-left: 3rem;
    // padding-top: 2.6rem;
    // padding-bottom: 2.6rem;
    overflow: hidden;
    overflow-y:scroll;  
}
.main_panel_hide{
    width: calc(100vw - 80px - 152px - 18px) !important;
}
.openRightPanel{
    background-color: $bg_layout;
    padding: 0.5rem;
    transition: 1s;
    color: #fff;
}
.main ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #f1f1ff;
}
.main::-webkit-scrollbar
{
	width: 6px;
	background-color: #f1f1ff;
}
.main::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.paddings{
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    padding-right: 3rem;
}
.profile_card{
    width: 320px;
    // background-color: #ccc;
    height: 100vh;
}
.main_content{
    background-color: $page_bg_main;
}


@media only screen and (max-width: 1200px){
.profile_card{
    // display: none;
}
.main{
    width: calc(100vw - 152px - 5.5rem);
    margin-left: 3rem;
}
.main_panel_hide{
    width: calc(100vw - 152px - 18px) !important;
}

}

@media only screen and (max-width: 800px){
.profile_card{
    display: none;
}
.main{
    width: 100vw;
    margin-left: 1rem;
}
.main_panel_hide{
    width: calc(100vw) !important;
}
.menu{
    display: none;
}
.main_content{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.paddings{
    padding-right: 1rem;
}
.page{
    flex-direction: column;
}
.example-spacer {
    flex: 1 1 auto;
}
.mobile_toolbar{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.paddings{
    padding-bottom: 6rem;
}
.mobile_menu{
    background-color: $bg_layout;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.avatar{
    margin-top: 0rem;
}
.avatar img{
    width: 4rem;
    border-radius: 20px;
}
.top_menu{
    padding-top: 3rem;
}
    
}