.achievement_list_container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.item_achievement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.edit_achivement_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #DADDE2;
    border-radius: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.edit_achivement_container p{
    margin: 0px;
}
.item_achievement p{
    margin: 0px;
}
.btn_container{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: space-between;
}
.btn_container_row{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}
.btn_back{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.btn_back .icon{
    padding-bottom: 18px;
}
.btn_container .btn_width{
    width: 49%;
}
.btn_container_row .btn_width{
    width: 49%;
}
.half_width{
    width: 49%;
}
.accept_width{
    width: 100px;
}




@media only screen and (max-width: 800px){
    .item_achievement{
        flex-direction: column;
        align-items: start;
    }
    .btn_container{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 0.5rem;
    }
    .btn_container_row{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .btn_container .btn_width{
        width: 100%;
    }
    .btn_container_row .btn_width{
        width: 49%;
    }
    .half_width{
        width: 100%;
    }
    .row{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}