<div class="hello_card">
    <div class="txt_container">
        <div class="txt">
            <h2 class="row">Witaj ponownie <h2 class="name_color">User_user</h2></h2>
            <p>Zdobywaj coraz więcej punktów by awansowac w rankingu!</p>
        </div>
    </div>
    <div class="image">
        <img src="../../../assets/welcome_img.png" alt="">
    </div>
</div>
<div class="container">
    <div class="quiz_container">
        <app-quick-quiz-panel-list></app-quick-quiz-panel-list>
        <app-quiz-list></app-quiz-list>
    </div>
    <app-quiz-learn-map></app-quiz-learn-map>
</div>



