<div class="container2">
    <div class="title_row2">
        <!-- <h2 *ngIf="editCategoryDone" class="green_txt2">Edytowano poprawnie</h2> -->
        <!-- <h2 *ngIf="customErrorCategoryId">{{customErrorCategoryId}}</h2> -->
    </div>
    <form [formGroup]="categoryGroupEditForm">

            <mat-form-field class="auto_width2" appearance="outline">
                <mat-label>Wybierz Quiz</mat-label>
                <mat-select (ngModelChange)="editCategorySubmit()" formControlName="categoryGroupId" required>
                  <mat-option *ngFor="let element of categoryList" [value]=element.id><img class="image_select2" src={{element.iconUrl}} alt="">{{element.name}}</mat-option>
                </mat-select>
                <div *ngIf="f['categoryGroupId'].touched && f['categoryGroupId'].invalid" class="alert alert-danger"></div>
            </mat-form-field>
    </form>

    <div *ngIf="true" class="questions_container">
        <div class="item_question" *ngFor="let categories of categoryGroupList">
            <p>{{categories.name}}</p>
            <div class="btn_container">
                <!-- <button class="btn_width" (click)="getQuestionsValueToFOrm(question.id)" mat-raised-button color="primary">Edytuj</button> -->
                <button class="btn_width" (click)="deleteCategoryFromCategoryGroup(categories.id)" mat-raised-button color="warn">Zmień</button>
            </div>
        </div>
    </div>
    <!-- <form class="second_form" *ngIf="showToEditCategoryList" [formGroup]="editQuestionForm" (submit)="editQuestion()">
        <div class="row">

    
            <mat-form-field class="auto_width1" appearance="outline">
                <mat-label>Poziom trudności</mat-label>
                <mat-select formControlName="level" required>
                  <mat-option value=1>1</mat-option>
                  <mat-option value=2>2</mat-option>
                  <mat-option value=3>3</mat-option>
                </mat-select>
                <div *ngIf="f2['level'].touched && f2['level'].invalid" class="alert alert-danger"></div>
            </mat-form-field>

            <mat-form-field class="form-field auto_width1" appearance="outline">
                    
                <mat-label>Link ze zdjęciem do pytania:</mat-label>
                
                <input matInput formControlName="imageUrl" >
                
                <div *ngIf="f2['imageUrl'].touched && f2['imageUrl'].invalid" class="alert alert-danger"></div>
            
            </mat-form-field>

            <mat-form-field class="auto_width1" appearance="outline">
                <mat-label>Poprawna odpowiedź</mat-label>
                <mat-select formControlName="correctAnswer" required>
                  <mat-option value='a'>A</mat-option>
                  <mat-option value='b'>B</mat-option>
                  <mat-option value='c'>C</mat-option>
                  <mat-option value='d'>D</mat-option>
                </mat-select>
                <div *ngIf="f2['correctAnswer'].touched && f2['correctAnswer'].invalid" class="alert alert-danger"></div>
            </mat-form-field>
        </div>
        
        <mat-form-field class="form-field question_width" appearance="outline">
                    
            <mat-label>Pytanie:</mat-label>
            
            <input matInput formControlName="questionContent">
            
            <div *ngIf="f2['questionContent'].touched && f2['questionContent'].invalid" class="alert alert-danger"></div>
        
        </mat-form-field>
        
        <div class="row">
            <mat-form-field class="form-field auto_width" appearance="outline">
                    
                <mat-label>Odpowiedź A:</mat-label>
                
                <input matInput formControlName="a">
                
                <div *ngIf="f2['a'].touched && f2['a'].invalid" class="alert alert-danger"></div>
            
            </mat-form-field>
            <mat-form-field class="form-field auto_width" appearance="outline">
                        
                <mat-label>Odpowiedź B:</mat-label>
                
                <input matInput formControlName="b">
                
                <div *ngIf="f2['b'].touched && f2['b'].invalid" class="alert alert-danger"></div>
            
            </mat-form-field>
            <mat-form-field class="form-field auto_width" appearance="outline">
                        
                <mat-label>Odpowiedź C:</mat-label>
                
                <input matInput formControlName="c">
                
                <div *ngIf="f2['c'].touched && f2['c'].invalid" class="alert alert-danger"></div>
            
            </mat-form-field>
            <mat-form-field class="form-field auto_width" appearance="outline">
                        
                <mat-label>Odpowiedź D:</mat-label>
                
                <input matInput formControlName="d">
                
                <div *ngIf="f2['d'].touched && f2['d'].invalid" class="alert alert-danger"></div>
            
            </mat-form-field>
        </div>
        

        <div class="input_margin">
            <button type="submit" class="button_margin" mat-raised-button color="primary">Edytuj pytanie</button>
        </div>
    </form> -->



    <!-- <div *ngIf="this.loadingEditingQuiz" class="spinner">
        <mat-progress-spinner
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="value">
        </mat-progress-spinner>  
    </div> -->


</div>
