<div class="container2">
    <div class="title_row2">

        <h2 *ngIf="editUserDone" class="green_txt2">Edytowano poprawnie</h2>
        <h2 *ngIf="customErrorUserId">{{customErrorUserId}}</h2>
    </div>
    <form [formGroup]="userListForm" (submit)="chooseUser()">

            <mat-form-field class="auto_width2" appearance="outline">
                <mat-label>Wybierz Użytkownika</mat-label>
                <mat-select formControlName="userId" required>
                  <mat-option *ngFor="let user of usersList" [value]=user.id>{{user.username}}</mat-option>

                  
                </mat-select>
                <div *ngIf="f['userId'].touched && f['userId'].invalid" class="alert alert-danger"></div>
            </mat-form-field>
        <div class="input_margin2">
            <button type="submit" class="button_margin2" mat-raised-button color="primary">Wybierz użytkownika</button>
        </div>
    </form>


    <form class="second_form" *ngIf="showValuesToEditUser" [formGroup]="editUserForm" (submit)="editUser()">
        <h2 *ngIf="customErrorEditUserId">{{customErrorEditUserId}}</h2>
        <div class="row">

            <mat-form-field class="form-field half_width" appearance="outline">
                    
                <mat-label>Nazwa użytkownika</mat-label>
                
                <input matInput formControlName="username">
                
                <div *ngIf="f2['username'].touched && f2['username'].invalid" class="alert alert-danger"></div>
            
            </mat-form-field>

            <mat-form-field class="form-field half_width" appearance="outline">
                    
                <mat-label>Rola</mat-label>
                
                <input matInput formControlName="roleId">
                
                <div *ngIf="f2['roleId'].touched && f2['roleId'].invalid" class="alert alert-danger"></div>
            
            </mat-form-field>
        </div>
        
        
        
        <div class="row">
                <mat-form-field class="form-field half_width" appearance="outline">
                    
                    <mat-label>emailAddress</mat-label>
                    
                    <input matInput formControlName="emailAddress">
                    
                    <div *ngIf="f2['emailAddress'].touched && f2['emailAddress'].invalid" class="alert alert-danger"></div>
                
                </mat-form-field>
                <mat-form-field class="form-field half_width" appearance="outline">
                        
                    <mat-label>Hasło</mat-label>
                    
                    <input type="password" matInput formControlName="password">
                    
                    <div *ngIf="f2['password'].touched && f2['password'].invalid" class="alert alert-danger"></div>
                
                </mat-form-field>
        </div>
            
            <!-- <mat-form-field class="form-field question_width" appearance="outline">
                    
                <mat-label>Link url do ikony</mat-label>
                
                <input matInput formControlName="iconUrl">
                
                <div *ngIf="f2['iconUrl'].touched && f2['iconUrl'].invalid" class="alert alert-danger"></div>
            
            </mat-form-field> -->

        

        <div class="input_margin">
            <button class="button_margin" mat-raised-button color="primary" type="submit">Edytuj użytkownika</button>
        </div>
    </form>


</div>

