<div class="bg">
    <mat-icon class="btn_hide" (click)="hideRightPanel()">arrow_forward</mat-icon>
    <div class="image_profile">
        <img src="../../../assets/quiz_logo.jpg" alt="">
    </div>
    <div class="text_name">
        <p>{{this.userData.getName()}}</p>
    </div>
    <div class="text_rank">
        <p>Początkujący</p>
    </div>
    <mat-card class="progres_card">
        <div class="lvl_icon">
            <mat-icon>donut_large</mat-icon>
        </div>
        <div class="right_container_flex">
            <div class="lvl_bar">
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div class="row_lvl_text">
                <div class="current_lvl">
                    <p>1 LVL</p>
                </div>
                <!-- <div class="lvl_text">
                    <p>30/100 do </p>
                </div> -->
                <div class="to_current_lvl">
                    <p>2 LVL</p>
                </div>
            </div>
        </div>
        
    </mat-card>

    <!-- <mat-card class="daily_rewards"> 
        <div class="daily_reward_text">
            <p>Dzienna nagroda</p>
        </div>
        <div class="image_reward">
            <img src="../../../assets/chest.jpg" alt="">
        </div>
        <div class="daily_reward_text_progress">
            <p>2/30</p>
        </div>
    </mat-card> -->
    <mat-card class="scoreboard">
        <div class="label border_label">
            <div class="rank_number">
                <p>Dzienny ranking</p>
            </div>
            <p>PUNKTY</p>
        </div>
        <div class="scroll_elements" id="style-scroll">
            <div class="margin_top_in_scroll"></div>
            <div class="label">
                <div class="rank_number">
                    <p>1.</p>
                    <p>User_user</p>
                </div>
                <p>320 pkt.</p>
            </div>
            <div class="label">
                <div class="rank_number">
                    <p>2.</p>
                    <p>Kacper</p>
                </div>
                <p>280 pkt.</p>
            </div>
            <div class="label">
                <div class="rank_number">
                    <p>3.</p>
                    <p>Tomek</p>
                </div>
                <p>240 pkt.</p>
            </div>
            <div class="label">
                <div class="rank_number">
                    <p>4.</p>
                    <p>Rafał</p>
                </div>
                <p>220 pkt.</p>
            </div>
            <div class="label">
                <div class="rank_number">
                    <p>5.</p>
                    <p>Wiktor</p>
                </div>
                <p>200 pkt.</p>
            </div>
            <div class="label">
                <div class="rank_number">
                    <p>5.</p>
                    <p>Wiktor</p>
                </div>
                <p>200 pkt.</p>
            </div>
            <div class="label">
                <div class="rank_number">
                    <p>5.</p>
                    <p>Wiktor</p>
                </div>
                <p>200 pkt.</p>
            </div>
        </div>
        
    </mat-card>
       
    
</div>
