.bg{
    background-color: #6f41e6;
    height: 100%;
    -webkit-box-shadow: -4px 0px 11px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: -4px 0px 11px -1px rgba(66, 68, 90, 1);
    box-shadow: -4px 0px 11px -1px rgba(66, 68, 90, 1);
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}