.container{
    // border: 1px solid #ccc;
    // padding: 2rem;
    border-radius: 10px;
    // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 0px 2px;
}
.row{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // flex-wrap: wrap;
    justify-content: space-between;
}
.question_width{
    width: 49%;
}
.row .auto_width{
    width: 48%;
}
.half_width{
    width: 49%;
}
.half_in_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 49%;
}
.input_margin{
    display: flex;
    justify-content: flex-end;
}
.title_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.green_txt{
    color: rgb(40, 207, 82);
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }
  input[type=file]{
    padding-top: 0.7rem;
  }



@media only screen and (max-width: 800px){
    .row{
        flex-direction: column;
    }
    .row .half_width{
        width: 100%;
    }
    .half_in_row{
        width: 100%;
    }
    .question_width{
        width: 100%;
    }
    .input_margin button{
        width: 100%;
    }
    .container_file{
        padding-bottom: 1.4rem;
    }
    input[type=file]{
        padding-top: 0rem;
      }
    }