.container{
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 0px 2px;
}
.row{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // flex-wrap: wrap;
    justify-content: space-between;
}
.question_width{
    width: 49%;
}
.row .auto_width{
    width: 48%;
}
.half_width{
    width: 49%;
}
.half_in_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 49%;
}
.input_margin{
    display: flex;
    justify-content: flex-end;
}
.title_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.green_txt{
    color: rgb(40, 207, 82);
}