.container{
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 0px 2px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.question_width{
    width: 100%;
}
.row .auto_width{
    width: 24%;
}
.input_margin{
    display: flex;
    justify-content: flex-end;
}
.image_select{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    margin-top: 0.5rem;
}
.auto_width ::ng-deep.mat-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.green_txt{
    color: rgb(40, 207, 82);
}