<div class="main_text">
    <p>Pytanie 1/10</p>
    <h2>Jakiej komendy używamy by wygenerować komponent w CLI Angulara?</h2>
</div>
<div class="border"></div>

<div class="questions_component">
    <div class="card">
        <div class="value">A</div>
        <div class="answer">Odpowiedź 1</div>
    </div>
    <div class="card">
        <div class="value">B</div>
        <div class="answer">Odpowiedź 2</div>
    </div>
    <div class="card">
        <div class="value">C</div>
        <div class="answer">Odpowiedź 3</div>
    </div>
    <div class="card">
        <div class="value">D</div>
        <div class="answer">Odpowiedź 4</div>
    </div>

    <div class="btn_container">
        <button mat-raised-button color="primary">Cofnij</button>
        <button mat-raised-button color="primary">Dalej</button>
    </div>
</div>
