<!-- <div class="container" *ngFor="let question of this.questionManagerService.questionsList; let i = index"> -->
    <div *ngIf="quizes">
    <div class="main_text">
        <p>Pytanie {{0 + 1}}</p>
        <h2>{{quizes.questionContent}}</h2>
    </div>
    <div class="border"></div>

    <div class="questions_component">
        <div class="card">
            <div class="value">A</div>
            <div class="answer">{{quizes.a}}</div>
        </div>
        <div class="card">
            <div class="value">B</div>
            <div class="answer">{{quizes.b}}</div>
        </div>
        <div class="card">
            <div class="value">C</div>
            <div class="answer">{{quizes.c}}</div>
        </div>
        <div class="card">
            <div class="value">D</div>
            <div class="answer">{{quizes.d}}</div>
        </div>

        <div class="btn_container">
            <!-- <button mat-raised-button color="primary">Cofnij</button> -->
            <button (click)="nextQuestion()" mat-raised-button color="primary">Dalej</button>
        </div>
    </div>
<!-- </div> -->
</div>
