<h2>Szybki dostęp</h2>
<div class="list_container">
    <div style="float: left">
        <button (click)="scrollLeft()">left</button>
    </div>
    <div #widgetsContent id="container" class="btn_element" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]">
    <div class="element">
        <img src="../../../assets/js.png" alt="">
    </div>
    <p>JavaScript</p>
    </div>
</div>
<div style="float: right">
    <button (click)="scrollRight()">right</button>
</div>


<div class="container">
    <div style="float: left">
        <button (click)="scrollLeft()">left</button>
    </div>

    <div #widgetsContent class="middle">
        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
        <div class="info-widget">
        WIDGET
        </div>
    </div>

    <div style="float: right">
        <button (click)="scrollRight()">right</button>
    </div>
    </div>




