<!-- <h2>Szybki dostęp</h2> -->
<div class="list_container">
    <div (click)="left()" class="btn_panel">
        <mat-icon>arrow_back_ios</mat-icon>
    </div>
    <div class="content">
        <div #widgetsContent id="container" class="btn_element" *ngFor="let category of items; let i = index">
            <div routerLink='/home/level/{{category}}' class="item">
                <div class="element">
                    {{category.user}}
                </div>
                <!-- <p>{{category.name}}</p> -->
            </div>
        </div>
    </div>
    
    <div (click)="right()" class="btn_panel">
        <mat-icon>arrow_forward_ios</mat-icon>
    </div>
</div>

<!-- <div class="list_container">
    <div #widgetsContent id="container" class="btn_element" *ngFor="let category of this.categoryRest.categoryList">
        <div routerLink='/home/level/{{category.id}}' class="item">
            <div class="element">
                <img src={{category.iconUrl}} alt="">
            </div>
        </div>
    </div>
</div> -->





