@import '/src/style/colors.scss';
.list_container{
    display: flex;
    flex-direction: row;
    column-gap: 1.4rem;
    // width: 45%;
    // overflow-y: auto;
    // overflow-y: hidden;
    // overflow-x: scroll;
    white-space: nowrap;
    // -webkit-overflow-scrolling: touch;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.btn_element p{
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
}
.element{
    border: 1px solid rgb(225, 225, 225);
    border-radius: 14px;
    padding: 0.7rem;
    background-color: rgb(225, 225, 225);
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.6s;
}
.element:hover{
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(255, 255, 255);
    transition: 0.6s;
}
.element img{
    width: 30px;
    height: 30px;
}
.item{
    cursor: pointer;
}



.info-widget {
    width: 31.75%;
    border: 1px solid black;
    display: inline-block;
  }

  .middle {
    float: left;
    width: 90%;
    overflow: auto;
    /*will change this to hidden later to deny scolling to user*/
    white-space: nowrap;
  }



