
    <div class="example-container">
        <!-- <mat-card-title>Zaloguj</mat-card-title> -->
        <mat-card-content class="form-container">
            <form [formGroup]="loginForm" (submit)="submit()">
                <div *ngIf="!loading">
                    
                <mat-form-field class="form-field" appearance="outline">
                    
                    <mat-label> E-mail</mat-label>
                    
                    <input matInput formControlName="email" required>
                    
                    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger"></div>

                    <mat-error *ngIf="f['email'].hasError('email') && !loginForm.hasError('required')">
                        Wprowadz poprawny adres email
                    </mat-error>

                    <mat-error *ngIf="f['email'].hasError('required')">
                        Email jest <strong>wymagany</strong>
                    </mat-error>
                
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                    
                    <mat-label> Hasło</mat-label>
                    
                    <input matInput formControlName="password" type="password">
                    
                    <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger"></div>

                    <mat-error *ngIf="f['email'].hasError('required')">
                        Hasło jest <strong>wymagane</strong>
                    </mat-error>

                    
                
                </mat-form-field>
            </div>
            <!-- <div *ngIf="loading" class="spinner">
                <mat-progress-spinner
                    class="example-margin"
                    [color]="color"
                    [mode]="mode"
                    [value]="value">
                </mat-progress-spinner>  
            </div>
            <div class="error" *ngIf="customError">
                <strong>{{customError}}</strong>
           </div>
                <div *ngIf="!loading" class="input_margin">
                    <button class="button_margin" mat-raised-button color="primary" type="submit">Zaloguj się</button>
                </div>
            </form>
            <button *ngIf="!loading" routerLink="/remind-password" mat-button color="primary">Przypomnij hasło</button> -->
            
            
                <div class="input_margin">
                    <button class="btn_space" routerLink="/remind-password" mat-button>Przypomnij hasło</button>
                    <button class="button_margin" mat-raised-button color="primary" type="submit">Zaloguj się</button>
                </div>
            </form>
            <button routerLink="/register" class="button_margin" mat-button type="submit">Zarejestruj się</button>
            
        </mat-card-content>
        
    </div>


