$card-color: #fff;
$background-color: rgb(238, 238, 238);
$blue-color: #3f51b5;
$white: #fff;
$dark: #000;
$green: #4dff52;
$red: #F44336;
$gray: #808080;
// $bg_layout: #232744; //$bg_layout: #6f41e6
$bar_color_progress: #0AF7C4;
$page_bg_main: #f1f1ff;



$bg_layout: #2c3366;
$box_shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
$map_bg: #B4E2E6;
$quiz_list_bg: #b3b9df;
$header_card: #E8C147;
$pink: #eb4c5e;
$orange: #e49241;