<div class="container_edit">
    <mat-icon routerLink="/home/profile/main" class="btn_back">arrow_back</mat-icon>
    <p>Edytuj profil</p>
    <div class="container_icon">
        <div class="items">
            <div class="item" *ngFor="let img of images" (click)="onClickSelect(img)">
                <!-- <img class="currentImage" *ngIf="img.profileImg == this.currentProfileImage" src={{img.profileImg}} alt=""> -->
                <!-- <img *ngIf="img.profileImg !== this.currentProfileImage" src={{img.profileImg}} alt=""> -->
                <img class="imageBorder" [ngClass]="{ 'selected': img.profileImg == this.selectedItem }" src={{img.profileImg}} alt="">
            </div>
        </div>
    </div>
    <div class="container_btn">
        <button class="btn_select_avatar" color="primary" mat-raised-button >Wybierz awatar</button>
    </div>
</div>