.container_edit{
    background-color: #fff;
    border-radius: 15px;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.container_edit p{
    // margin-left: 1rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.btn_back{
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}






.container_icon{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(116, 115, 203);
}
.items{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 2rem;
    // height: 200px;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    cursor: pointer;
}
.item img{
    width: 100px;
    background-color: #fff;
    // border: 2px solid #ccc;
    // border: 2px solid #fff;
}
.imageBorder{
    border: 4px solid #ccc;
    border-radius: 15px;
}
.selected {
    border: 4px solid rgb(59, 231, 88);
}
.container_btn{
    background-color: #4b4f66;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn_select_avatar{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
