@import '/src/style/colors.scss';
.title{
    font-size: 1.8rem;
    color: $white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
}
.container{

}
// .bg{
    
//     background: url(../../../assets/bg_welcome0.jpg);
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//   position: absolute;
// }
