<div class="columns_3">
    <div class="achievements_container">
        <!-- <p>Osiągniecia</p> -->
        <div class="achievements_items">
            <div routerLink="/home/profile/achievements" class="achievements_item color_4">
                <p>Osiągnięcia</p>
            </div>
            <!-- <div routerLink="/home/profile/create-quiz" class="achievements_item color_4">
                <p>Stwórz swój quiz</p>
            </div>-->
            <div routerLink="/home/settings" class="achievements_item color_4">
                <p>Ustawienia profilu</p>
            </div>
            <div routerLink="/home/profile/edit-profile" class="achievements_item color_4">
                <p>Ustaw awatar</p>
            </div>
        </div>
    </div>
    <div class="progress_quiz_container">
        <p>Wykres postępów</p>
        <div class="chart" id="chart">
            <apx-chart
              [series]="chartOptions.series!"
              [chart]="chartOptions.chart!"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive!">
            </apx-chart>
        </div>
    </div>
    <!-- <div class="list_quiz_container">
        <p>Twoje utworzone quizy</p>
        <div class="items">
            <div class="item color_1">
                <p>Web 2.0</p>
            </div>
            <div class="item color_2">
                <p>C ++ Advanced</p>
            </div>
        </div>
    </div> -->
</div>