@import '/src/style/colors.scss';
.profile_card_container{
    width: 100%;
    // height: calc(100vh - 5.4rem);
    // background-color: #E4F0F8;
    // border: 2px solid #fff;
    // border-radius: 15px;
}
.column{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    // justify-content: center;
    column-gap: 4rem;
    // margin-top: 4rem;
    align-items: center;
    // margin-left: 4rem;
    background-color: #4b4f66;// 414455
    padding: 2rem;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.txt{
    width: 100%;
    margin-right: 2rem;
}
.username h2{
    font-size: 1.6rem;
    font-family: 'Arial Black';
    font-weight: 900;
    color: #fff;
    margin: 0px;
}
.image_profile img{
    width: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.text_rank{
    color: rgb(255, 47, 227);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.email h2{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
    color: #838797;
    font-weight: 800;
}
// .border{
//     border-bottom: 1px solid #ccc;
//     width: auto;
//     margin-left: 2rem;
//     margin-right: 2rem;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
// }
.score{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}
.lesson_score{
    text-align: center;
}
.lesson_score h2{
    font-size: 3.4rem;
    color: #fff;
    // width: 200px;
}
.text_lesson_score h2{
    color: #fff;
    margin: 0px;
}
.info h2{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin: 0px;
    color: #fff;
    font-size: 1rem;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}





.columns_3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}






.achievements_container{
    background-color: #fff;
    border-radius: 15px;
    grid-column: 1/3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: grid;
}
.achievements_container p{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.achievements_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.achievements_item{
    border-radius: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
    text-align: center;
    cursor: pointer;
}





.progress_quiz_container{
    background-color: #fff;
    border-radius: 15px;
    grid-column: 3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.progress_quiz_container p{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}







.list_quiz_container{
    background-color: #fff;
    border-radius: 15px;
    grid-column: 3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.list_quiz_container p{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.items{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 1rem;
}
.item{
    border-radius: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.item p{
    // margin: 0px;
    color: #fff;
}






.color_1{
    background-color: #c25490
}
.color_2{
    background-color: #7154c2
}
.color_3{
    background-color: rgb(0, 227, 150)
}
.color_4{
    background-color: #545fc2
}
.color_5{
    background-color: #be54c2
}
.color_6{
    background-color: #E8C147
}

@media only screen and (max-width: 1400px){
.columns_3{
    margin-bottom: 2rem;
}
.achievements_container{
    grid-column: 1/4;
}
.progress_quiz_container{
    grid-column: 1/4;
}
.list_quiz_container{
    grid-column: 1/4;
}

}
@media only screen and (max-width: 800px){
.columns_3{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    // grid-row-gap: 2rem;
    // grid-column-gap: 2rem;
}
.achievements_container{
    background-color: #fff;
    border-radius: 15px;
    // grid-area: 1 / 1 / 2 / 2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: grid;
}
.progress_quiz_container{
    background-color: #fff;
    border-radius: 15px;
    // grid-area: 2 / 1 / 3 / 2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.list_quiz_container{
    background-color: #fff;
    border-radius: 15px;
    // grid-area: 3 / 1 / 4 / 2;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
}