<div class="profile_card_container">
    <div class="column">
        <div class="header">
            <div class="image_profile">
                <img src={{this.userData.getProfileIcon()}} alt="">
            </div>
            <div class="txt">
                <!-- <div class="text_rank">
                    <p>Początkujący</p>
                </div> -->
                <div class="username">
                    <h2>{{this.userData.getName()}}</h2>
                </div>
                <div class="email">
                    <h2>mail@gmail.com</h2>
                </div>
            </div>
        </div>
        <!-- <div class="border"></div> -->
    </div>
</div>
