<div class="profile_card_container">
    <div class="column">
        <div class="header">
            <div class="image_profile">
                <img src={{this.userData.getProfileIcon()}} alt="">
            </div>
            <div class="txt">
                <!-- <div class="text_rank">
                    <p>Początkujący</p>
                </div> -->
                <div class="username">
                    <h2>{{this.userData.getName()}}</h2>
                    <!-- <h2>Administrator</h2> -->
                </div>
                <div class="email">
                    <h2>{{this.userData.getEmail()}}</h2>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <h2>UKOŃCZONO</h2>
                </div>
                <div class="score">
                    <div class="lesson_score">
                        <h2>{{this.userData.getTotalCompletedQuiz()}}</h2>
                    </div>
                    <div class="text_lesson_score">
                        <h2>Lekcje</h2>
                    </div>
                </div>
                <div class="score">
                    <div class="lesson_score">
                        <h2>X</h2>
                    </div>
                    <div class="text_lesson_score">
                        <h2>Quizy</h2>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- <div class="border"></div> -->

        <router-outlet></router-outlet>

        
    </div>
</div>
