@import '/src/style/colors.scss';
.page_body{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left_panel{
    width: 60%;
    // background-color: #3e4687;
    // background-color: #3e4688;
    object-fit:contain;
     background: url(../../../assets/bg_welcome0.jpg);
    box-shadow: 8px 0px 25px -8px rgba(66, 68, 90, 1);
    // background-size:cover;
}



.right_panel{
    width: 40%;
    // background-color: #444658;
    
}
.bg_overlay{
    width: 100%;
    height: 100%;
    background: #3e4688;
    opacity: .9;
    position: absolute;
}




.login_body{
    justify-self: center;
    align-self: center;
    display: grid;
    margin-left: 20px;
}
.header_login_form{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    
}
.text_header h1{
    font-size: 2rem;
    font-weight: 700;
}
.header_login_form img{
    width: 10rem;
    max-width: 100%;
}
.bg{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    
}
.text_login_form{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}






/////////////////////////////MOBILE////////////////////////////////

@media only screen and (max-width: 800px){
.form-container{
    width: auto;
}
.login_body{
    margin-left: 16px;
    margin-right: 16px;
}
.left_panel{
    display: none;
}
.right_panel{
    width: 100%;
}
.page_body{
    width: 100vw;
}
// .bg{
//     width: 100vw;
// }
// .login_body{
//     width: 100%;
// }

}



