<div class="page_body">
    <div class="left_panel">
        <div class="bg">
            <div class="login_body">
                 <h1 class="title">CZEŚĆ! WITAJ NA NASZYM PORTALU Z QUIZAMI.</h1>
            </div>
        </div>
    </div>
    <div class="right_panel">
        <div class="bg">
            <div class="login_body">
                <div class="header_login_form">
                    <img alt="LOGO QUIZ" src="./assets/quiz_logo.jpg">
                    <div class="text_login_form">
                        <div class="text_header">
                            <h1>Quiz</h1>
                            <h1>E-Learning</h1>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- <div class="bg_color">
    <div class="login_body">
        <div class="header_login_form">
            <img alt="LOGO QUIZ" src="./assets/quiz_logo.jpg">
            <div class="text_login_form">
                <div class="text_header">
                    <h1>Quiz</h1>
                    <h1>E-Learning</h1>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div> -->