
<div class="card" *ngFor="let category of this.categoryRest.categoryList">
    <div class="item">
        <div class="icon_and_nameQuiz">
            <img src={{category.iconUrl}} alt="">
            <p class="quiz_name">{{category.name}}</p>
            <!-- <p>{{quiz.type}}</p> -->
        </div>
        <p class="value_to_done">
            <mat-progress-bar mode="determinate" value=10></mat-progress-bar>
        </p>
        <div class="btn_and_bar">
            <a routerLink='/home/level/{{category.id}}'>
                <button mat-raised-button color="accent">Rozpocznij Quiz</button>
            </a>
        </div>
        <!-- <mat-icon class="item_icon">home</mat-icon> -->
    </div>
</div>
