
<div class="card" *ngFor="let quiz of quizList">
    <div class="item">
        <div class="icon_and_nameQuiz">
            <img src={{quiz.icon}} alt="">
            <p class="quiz_name">{{quiz.name}}</p>
            <!-- <p>{{quiz.type}}</p> -->
        </div>
        <div class="btn_and_bar">
            <p class="value_to_done">
                <mat-progress-bar mode="determinate" value={{quiz.progresValue}}></mat-progress-bar>
            </p>
            <a routerLink={{quiz.link}}>
                <button mat-raised-button color="accent">Rozpocznij Quiz</button>
            </a>
        </div>
        <!-- <mat-icon class="item_icon">home</mat-icon> -->
    </div>
</div>
