@import '/src/style/colors.scss';
.card{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: $box_shadow;
    margin-top: 1rem;
    // width: 45%;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.item p{
    margin: 0;
    font-size: 1rem;
}
.item_icon{
    font-size: 1.8rem;
}
.item img{
    width: 35px;
    height: 35px;
    margin-left: 2rem;
}
.icon_and_nameQuiz{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
.value_to_done{
    width: 150px;
}
.value_to_done mat-progress-bar{
    height: 8px !important;
}
.btn_and_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    margin-right: 2rem;
    flex-wrap: wrap;
}
.quiz_name{
    width: 100px;
}


@media only screen and (max-width: 600px){
    .item{
        row-gap: 1rem;
        justify-content: center;
        flex-direction: column;
    }
    .item img{
        margin-left: 0px;
    }
    .btn_and_bar{
        margin-right: 0;
    }
    .quiz_name{
        width: auto;
    }
}