.container_achievements{
    background-color: #fff;
    border-radius: 15px;
    margin-top: 2rem;
    height: 300px;
}
.container_achievements p{
    // margin-left: 1rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.btn_back{
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}