<div class="header_card">
    <h2>Podążaj główną scieżką nauki</h2>
    <div class="row">
        <div class="element">
            <div class="color green"></div>
            <h3>Level 1</h3>
        </div>
        <div class="element">
            <div class="color yellow"></div>
            <h3>Level 2</h3>
        </div>
        <div class="element">
            <div class="color red"></div>
            <h3>Level 3</h3>
        </div>
    </div>
</div>
<div class="items_container">
    <div class="item">
        <div class="icon_side">
            <img src="../../../assets/angular.png" alt="">
            <p>Angular</p>
        </div>
        <div class="container_category">
            <div class="icon_bg">
                <img src="../../../assets/c++.png" alt="">
                <img src="../../../assets/html.png" alt="">
                <img src="../../../assets/js.png" alt="">
            </div>
        </div>
    </div>
    <div class="item">
        
    </div>
    <div class="item">
        
    </div>
</div>












<!-- 
<div class="margin">
    <h2>Podążaj główną scieżką nauki</h2>
    <div class="btn">
        <a routerLink="/home/quiz-maps" class="btn_map_more">Poznaj więcej scieżk rozwoju</a>
    </div>
    <div class="row">
        <div class="element">
            <div class="color green"></div>
            <h3>Level 1</h3>
        </div>
        <div class="element">
            <div class="color yellow"></div>
            <h3>Level 2</h3>
        </div>
        <div class="element">
            <div class="color red"></div>
            <h3>Level 3</h3>
        </div>
    </div>
    <div class="map" *ngIf="quizList">
        <div class="row_container">
            <div routerLink={{quizList[2].link}} class="item border_green">
                <img src={{quizList[2].icon}} alt="">
            </div>
            <div routerLink={{quizList[5].link}} class="item">
                <img src={{quizList[5].icon}} alt="">
            </div>
        </div>
        <div class="row_container">
            <div class="item">
                <img src={{quizList[1].icon}} alt="">
            </div>
            <div class="item">
                <img src={{quizList[4].icon}} alt="">
            </div>
            <div class="item">
                <img src={{quizList[3].icon}} alt="">
            </div>
        </div>
        <div class="row_container">
            <div class="item">
                <img src={{quizList[0].icon}} alt="">
            </div>
            <div class="item">
                <img src={{quizList[6].icon}} alt="">
            </div>
        </div>
        <div class="item">
            <img src={{quizList[2].icon}} alt="">
        </div>
    </div>
</div> -->
