@import '/src/style/colors.scss';
// .margin{
//     margin-left: 2rem;
//     margin-right: 0rem;
//     // margin-top: 1rem;
//     // border: 4px solid #fff;
//     padding: 2rem;
//     padding-top: 1rem;
//     border-radius: 10px;
//     background-color: $violet;
//     box-shadow: $box_shadow;
//     display: none;
// }
// .margin h2{
//     text-align: center;
// }
// .map{
//     margin-top: 3rem;
//     display: flex;
//     flex-direction: column;
//     row-gap: 2rem;
//     justify-content: space-between;
//     align-items: center;
// }
// .row_container{
//     display: flex;
//     flex-direction: row;
//     column-gap: 2rem;
// }
// .item{
//     width: 85px;
//     height: 85px;
//     background-color: #fff;
//     border-radius: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-shadow: $box_shadow;
//     cursor: pointer;
// }
// .btn a{
//     text-decoration: none;
// }
// .item img{
//     width: 45px;
//     height: 45px;
// }
// .btn_map_more{
//     cursor: pointer;
//     color: #2C3366;
//     padding: 6px;
//     font-weight: 500;
// }
// .row{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     column-gap: 2rem;
//     margin-top: 1rem;
// }
// .element{
//     display: flex;
//     flex-direction: row;
//     column-gap: 1rem;
//     align-items: center;
// }
// .element h3{
//     margin: 0;
// }
// .color{
//     width: 30px;
//     height: 15px;
//     box-shadow: $box_shadow;
// }
// .green{
//     background-color: $green;
// }
// .yellow{
//     background-color: rgb(248, 250, 121);
// }
// .red{
//     background-color: rgb(204, 10, 3);
// }
// .border_green{
//     border: 2px solid $green;
// }
// .margin .btn{
//     display: flex;
//     justify-content: center;
// }


// @media only screen and (max-width: 1600px){
//     .margin{
//         margin-left: 0rem;
//     }
// }
// @media only screen and (max-width: 800px){
// .item{
//     width: 60px;
//     height: 60px;
// }
// .item img{
//     width: 30px;
//     height: 30px;
// }
// .element{
//     display: flex;
//     flex-direction: column;
//     row-gap: 0.5rem;
//     align-items: center;
// }
// }







.header_card{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #2C3366;
    align-items: center;
    background-color: $violet;
    box-shadow: $box_shadow;
    border-radius: 10px;
    height: 84.4px;
    justify-content: center;
}
.header_card h2{
    margin: 0px;
    // margin-top: 8px;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    // color: #000;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 0rem;
    margin-bottom: 8px;
}
.element{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}
.element h3{
    margin: 0;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: #000;
}
.color{
    width: 30px;
    height: 15px;
    box-shadow: $box_shadow;
}
.green{
    background-color: $green;
}
.yellow{
    background-color: rgb(248, 250, 121);
}
.red{
    background-color: rgb(204, 10, 3);
}
.items_container{
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.item{
    box-shadow: #00000059 0 5px 15px;
    background-color: #e0e0e067;
    border-radius: 5px;
    height: 200px;
    // align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    // column-gap: 2rem;
    // cursor: pointer;
    box-shadow: $box_shadow;
    border: 3px solid rgba(206, 206, 206, 0.589);
}
.item img{
    width: 100px;
}
.icon_side{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}
.icon_side p{
    font-size: 1rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: #000;
    margin: 0px;
}
.icon_bg{
    // padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    // padding-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: $box_shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.icon_bg img{
    width: 40px;
    height: 40px;
}
.container_category{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: flex-end;
    // margin-right: 2rem;
}
.chart_container{
    display: flex;
    align-items: center;
}
.txt_start_chart{
    margin: 0px;
    cursor: pointer;
}








@media only screen and (max-width: 1600px){
    .header_card{
        margin-left: 0rem;
    }
    .items_container{
        margin-left: 0rem;
    }
}
@media only screen and (max-width: 800px){
    .element{
        display: flex;
        flex-direction: column;
        row-gap: 0rem;
        align-items: center;
    }
    .color{
        height: 6px;
        margin-top: 0.6rem;
    }
    // .chart{
    //     display: none;
    // }
    
}
@media only screen and (max-width: 600px){
    .icon_side{
        margin-left: 1rem;
    }
    .mobile_size{
        width: 70px!important;
    }
}
@media only screen and (max-width: 400px){
    .icon_side{
        margin-left: 0.5rem;
    }
    .mobile_size{
        width: 60px!important;
    }
}