<div class="header_card">
    <h2>Podążaj główną scieżką nauki</h2>
    <div class="row">
        <div class="element">
            <div class="color green"></div>
            <h3>Level 1</h3>
        </div>
        <div class="element">
            <div class="color yellow"></div>
            <h3>Level 2</h3>
        </div>
        <div class="element">
            <div class="color red"></div>
            <h3>Level 3</h3>
        </div>
    </div>
</div>
<div class="items_container">
    <div class="item" *ngFor=" let chart of maps; let i = index">
        <div class="icon_side">
            <img src={{chart.mapIconUrl}} alt="">
            <!-- <p>{{chart.mapName}}</p> -->
        </div>
        <div class="chart_container">
            <div *ngIf="this.arrayWithSumProgressResult![i] !== 0" class="chart" id="chart">
                <apx-chart
                  [series]="testArr![i]"
                  [chart]="chartOptions.chart!"
                  [labels]="this.arrayWithLabelNames![i]"
                  [responsive]="chartOptions.responsive!">
                </apx-chart>
            </div>
            <div *ngIf="this.arrayWithSumProgressResult![i] == 0" class="chart">
                <h2 routerLink='/home/level/{{chart.mapList[0].categoryId}}' class="txt_start_chart">Rozpocznij</h2>
            </div>
        </div>
        <div class="container_category">
            <div class="icon_bg">
                <img src={{chart.mapList[0].categoryUrl}} alt="">
                <img src={{chart.mapList[1].categoryUrl}} alt="">
                <img src={{chart.mapList[2].categoryUrl}} alt="">
            </div>
        </div>
    </div>
    
</div>










